* {
  margin:0;
  padding:0;
}

.Wrapper {
  background-image: url('./assets/iron.jpg');
  background-size:auto 900px;
  background-repeat: no-repeat, no-repeat;
  background-position: 0px 10px, 0px 0px;
  background-color: rgb(200, 38, 38);
  height:910px;
  width:1400px;
}
.Home h2 {
  color:antiquewhite;
  font-weight: bolder;
  padding-left:10px;
  padding-top: 10px;
}
.Home p {
  color:aliceblue;
  padding: 10px;
}